body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
}

.card {
  color: #000;
}

p {
  color: lightslategray;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}

button~button {
  margin-left: 20px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  width: 150px;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 50%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 768px) {
  .add {
    text-indent: -9999px;
    line-height: 0;
  }
  .add::after {
    content: "Instagram";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
  .display-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .display-2 {
    font-size: 1.5rem;
  }
}